<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Blank White Cards</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="app">
        <input type="text" v-model="apiUrl" placeholder="Enter API URL">
        <button @click="connect">Connect</button>
        <button @click="createCard">Create New Card</button>
        <button @click="drawCards">Draw Cards</button>
        <input type="text" v-model="imagePrompt" placeholder="Enter your image prompt here">
        <button @click="submitPrompt">Generate Image</button>

        <!-- Cards in play area -->
        <div v-for="(card, cardId) in cards" :key="cardId" class="card"
            :style="{left: card.x + 'px', top: card.y + 'px'}" :data-card-id="cardId"
            @mousedown.prevent="dragStart($event, cardId)">
        </div>

        <!-- Cards in hand -->
        <div id="hand-container">
            <div v-for="(card, cardId) in hand" :key="cardId" class="card in-hand"
                @mousedown="selectCardFromHand(cardId, $event)">
                <img :src="card.imageData ? `data:image/png;base64,${card.imageData}` : ''" alt="Card Image"
                    class="card-image">
            </div>
        </div>

    </div>



    <script src="vue.js"></script>
    <script src="app.js"></script>

</body>

</html>